<!DOCTYPE html>
<html lang="en">
<head>
<title>About Us</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/pizza.css">
<meta name="description" 
content="About our Company Home Baked Pizza">
</head>
<body>
<header>
  <h1>About Us</h1>
</header>
<nav>
  <ul>
    <li><a href="sample.html">Sample</a></li>
    <li><a href="create.html">Create Your Own</a></li>
    <li><a href="order.html">Orders</a></li>
    <li><a href="about.html">About</a></li></a></li>
  </ul>
</nav>
<div id="wrapper">
<main>
<section>
<h2>About our plan</h2> 
<p>We want to bring the best pizza you have ever tasted before. We only 
    use the freshest ingredients and the have the best Italian chef's 
    making our recipes!!
</p>
</section>
<section>
<h2>Where we come from</h2>
<p>We all come from our own pizza loving place. Our head chef is from Italy, 
    and the others are all learning his family's secrets.
</p>
</section>
<section>
<h2>Our Promise to you</h2>
<p>We promise you will love our pizza or you will get your next one free when 
    purchase of one of our double priced pizza's!! We care about your satisfaction!!
</p>
</section>
</main>
<footer>
  Copyright &copy; 2022 Coco & Sheldon's Best Lives<br>
  <a href="mailto:cscholl9@ivytech.edu">cscholl9@ivytech.edu</a>
</footer>
</div>
</body>
</html>




