
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/main_menu.css">
<meta name="description" 
content="Home Baked Pizza">
</head>
<body> 
<header>       
  <a href="Menu_Page.html"><h1>HOME BAKED PIZZA</h1></a>
</header> 
<nav>
  <ul>
    <li><a href="{% url 'Home Page' %}">Home</a></li>
    <li><a href="{% url 'Customize Pizza' %}">Order Here</a></li>
    <li><a href="{% url 'View Cart' %}">Cart</a></li>
    <li><a href="{% url 'About' %}"> About </a></li>
  </ul>  
</nav>
<div id="wrapper">
<div id="pizza"></div>
<main>
<h1>We Make The Best That Is Why, </h1>
<section>
<h2>WE KNOW YOU LOVE OUR PIZZA</h2>
</section>
</main>
<footer>
  Copyright &copy; 2023 Home Baked Pizza<br>
  <a href="mailto:cscholl9@ivytech.edu">cscholl9@ivytech.edu</a>
</footer>
</div>
</body>
</html>