
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form | CodingLab</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    
    <link rel="stylesheet" href="static/style.css">


  </head>
  <body>

        <div class="title"><span>  Choose from Options  </span></div>
        <form>
          
          
          <button type="submit" class="btn btn-sucess"> <a href="registration/login">  Login   </a></button>
         

          
          <button type="submit" class="btn btn-sucess"> <a href="./sign_up">  Sign Up   </a> </button>
    

        </form>
      </div>
   
  </body>
</html>